pandas 
numpy 
scikit-learn==1.5.2
matplotlib 
seaborn 
plotly
ipykernel 
nbformat
statsmodels
wordcloud
category_encoders
feature_engine
xgboost
optuna
jinja2
plotly
geopandas
geojson
dash
jupyter_dash
ipynbcompress